<div [formGroup]="form">
  <app-star-rating formControlName="rating" />
</div>

<div>
  <span>Rating formGroup : {{ form.get('rating')?.value }}</span>
</div>

<div>
  <app-star-rating [(ngModel)]="rating" />
</div>

<div>
  <span>Rating ngModel : {{ rating }}</span>
</div>

<div>
  <app-color-input label="Color input" [(ngModel)]="color" />
</div>

<div>
  <span>Color ngModel : {{ color }}</span>
</div>

<div [formGroup]="form">
  <app-color-input label="Color input" formControlName="color" />
</div>

<div>
  <span>Color formGroup : {{ form.get('color')?.value }}</span>
</div>