.title {
  font-size: 0.875rem;
  color: #c0c0ce;
}

.input-wrapper {
  cursor: text;

  position: relative;

  display: flex;
  align-items: center;

  width: 6.5rem;

  border-radius: 4px;
  border: #ceceda solid 1px;
  outline: 2px solid #c0c0ce00;

  transition: border 0.2s ease-in-out, outline 0.2s ease-in-out;

  &:is(:hover, :focus, :focus-within) {
    border: #c0c0ce solid 1px;
    outline: 2px solid #c0c0ce80;
  }
}

.color-preview {
  width: 1rem;
  height: 1rem;

  margin: 0.5rem;
  margin-right: 0;

  border-radius: 2px;   
}

.hashtag, input {
  font-size: 14px;
  font-family: monospace;
}

.hashtag {
  color: #c0c0ce;
  padding-left: 0.5rem;
}

input {
  flex: 1 1 auto;
  width: 2rem;
  padding: 0.5rem;
  padding-left: 0;

  background: none;
  border: none;

  font-family: monospace;

  &:is(:hover, :focus, :focus-visible, :active) {
    outline: none;
  }
}